<% var current = ' is-current'; %>
<nav class="p-pc-nav">
  <ul class="p-pc-nav__list">
    <li class="p-pc-nav__item<% if (baseMeta.page == 'top') { %><%= current %><% } %>"><a href="/">トップ</a></li>
    <li class="p-pc-nav__item<% if (baseMeta.page == 'news') { %><%= current %><% } %>"><a href="/news.html">お知らせ</a></li>
    <li class="p-pc-nav__item<% if (baseMeta.page == 'blog') { %><%= current %><% } %>"><a href="/blog.html">ブログ</a></li>
    <li class="p-pc-nav__item<% if (baseMeta.page == 'works') { %><%= current %><% } %>"><a href="/works.html">制作実績</a></li>
    <li class="p-pc-nav__item<% if (baseMeta.page == 'contact') { %><%= current %><% } %>"><a href="/contact.html">お問い合わせ</a></li>
  </ul>
</nav>