<div class="p-works">
  <div class="p-works__inner l-inner">
    <div class="p-works__list">
      <%- include('./_p-image-list') %>
    </div>
    <div class="p-works__list">
      <%- include('./_p-image-list') %>
    </div>
    <div class="p-works__list">
      <%- include('./_p-image-list') %>
    </div>
    <div class="p-works__list">
      <%- include('./_p-image-list') %>
    </div>
    <div class="p-works__list">
      <%- include('./_p-image-list') %>
    </div>
    <div class="p-works__pagenavi">
      <%- include('../component/_c-pagenavi') %>
    </div>
  </div>
</div>