<% const baseMeta = { title:'お知らせ | CodeUps', desc:'ディスクリプション', path:'./', page:'news' }; %>
<!DOCTYPE html>
<html lang="ja">
<%- include(baseMeta.path + 'common/_head', {baseMeta: baseMeta}) %>
<body>
  <%- include(baseMeta.path + 'common/_p-header', {baseMeta: baseMeta}) %>
  <div class="l-lower-mv">
    <%- include(baseMeta.path + 'project/_p-lower-mv', {text: 'お知らせ'}) %>
  </div>
  <div class="l-breadcrumb">
    <%- include(baseMeta.path + 'component/_c-breadcrumb') %>
  </div>
  <div class="l-news">
    <%- include(baseMeta.path + 'project/_p-news') %>
  </div>
  <%- include(baseMeta.path + 'common/_p-footer') %>
</body>
</html>